body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.px1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.group {
  display: flex;
  justify-content: space-between;
}

* {
  box-sizing: border-box !important;
}

* {
  overflow-wrap: anywhere !important;
  word-wrap: break-word;
}

.alice-carousel {
  background: transparent !important;
}

.alice-carousel {
  background: transparent !important;
}

.alice-carousel > div {
  background: transparent !important;
}

.alice-carousel__wrapper {
  background: transparent !important;
}

.alice-carousel__dots {
  position: absolute;
  left: 45%;
  bottom: 20px;
}

.alice-carousel__dots-item {
  width: 15px !important;
  height: 15px !important;
}

.alice-carousel__prev-btn {
  position: absolute;
  top: 45%;
  width: fit-content !important;
  /* background: white !important; */
}

.alice-carousel__prev-btn-item {
  color: white !important;
  font-weight: 900;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alice-carousel__prev-btn-wrapper {
  background: transparent !important;
  border-radius: 50%;
}

.alice-carousel__prev-btn-wrapper:hover {
  background: #ffffff20 !important;
}

.alice-carousel__next-btn {
  position: absolute;
  top: 45%;
  right: 0;
  width: fit-content !important;
  /* background: white !important; */
}

.alice-carousel__next-btn-item {
  color: white !important;
  width: 30px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alice-carousel__next-btn-wrapper {
  border-radius: 50%;
  background: transparent !important;
}

.alice-carousel__next-btn-wrapper:hover {
  background: #ffffff20 !important;
}
